
body {
  text-align: center !important;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin-top: 5% !important ;
  color:#ff6a00 !important;
}


/* Landing Page */

.main-img{
  height: 60vh !important;
  width: 100vw!important;
}

.header-section {
  margin: 0 !important;
  padding: 0 !important;
}



/* NAVIGATION BAR */

.navbar-brand {
  font-size: 2rem !important;
  font-family: "Open Sans", sans-serif, Bold 700 !important;
  font-weight: bold;
  color:#ff6a00 !important;
}

.nav-link{
  color: rgb(220, 211, 211) !important;
}


.navbar-home{
  color:#ff6a00 !important;
}


/* DESTINATION SECTION */

.card-text{
  padding-top: 15%;
  padding-bottom: 5%;
  color: grey;
  font-size:x-large
}

.card-img-top{
  width: 200px;
  height: 150px;
}


/* TEAM LEADER SECTION */

#team-leader{
  margin: 3% auto 10%;
}

.text-wrap{
  margin: auto 20% 2%;
  font-size: 1.2rem;
}

.img-team-leader{
  padding-bottom: 5% ;
}

/* ACCOMPLISHMENT SECTION */

#accomplishment{
  background-color: #072634 !important;
  padding: 5%;
}

.accomplishment-text{
  font-size: 4rem;
  padding-bottom: 5%;
  font-family: 'Sorts Mill Goudy', serif;
}

.accomplishment-white-text{
  color: rgb(220, 211, 211);
  font-size: 1.2rem;
}

/* TESTIMONIALS SECTION */

#testimonials{
/* margin-bottom: 5%; */
margin-right: 0;
}

#testimonials h1 {
  padding-bottom: 3%;
}


.card-body{
  font-family: 'Noto Sans NKo Unjoined', sans-serif;
}

.card-body h5 {
  font-size: x-large;
}

.card-text{
  color: black;
}


.lightblue-text{
  color: rgb(100, 164, 221) !important;
}

.text-body-secondary{
  color: rgb(194, 184, 184) !important;
}
/* FOOTER SECTION */
#footer{
  margin-bottom: 0 !important;
  text-align: left;
  background-color: #0f3445 !important;
  color: rgb(206, 206, 206) !important;
}

ul {
  list-style:none;
}
 
.footer-item {
  display: flex;
  align-items: center;
}

.footer-item i {
  margin-right: 10px;
}

